.list-todo-container {
    .add-todo {
        .add {
            margin: 0 10px;
        }
    }
    button {
        cursor: pointer;
    }
    .list-todo-content {
        width: 400px; 
        margin: auto;
        .todo-child {
            height: 40px;
            border-bottom: 1px solid grey;
            margin: 10px;
            .edit {
                margin: 0 10px;
            }
            &:first-child {
                border-top: 1px solid grey;
            }
        }
    }
}